body{
    background-color: lightblue;
    text-align: center;
}

.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* img{
    transform: rotate ( );
    transform: translate();
}  */

.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background-color: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background 1s, transform 0.3s;
}

.circle:hover{
    background-color: violet;
    transform: rotate(360deg);
}